<tr>
    <td><%= person.first_name %></td>
    <td><%= person.last_name %></td>
    <td><%= link_to "View Peron", person_path(person) %> <%= link_to "Edit Person", edit_person_path(person) %></td>
</tr>