<h1>People</h1>

<table>
    <thead>
        <tr>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Links</td>
        </tr>
    </thead>
    <tbody>
        <%= render @people %>
    </tbody>
</table>
