<% if object.errors.any? %>
    <p><%= pluralize(object.errors.count, 'error') %> prohibited this form from saving.</p>
    <ul>
        <% object.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
    <ul>
<% end %>